/* Css Reset  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    padding: 1rem;
}

.title-game {
    text-align: center;
    padding: 2rem;
    text-transform: uppercase;
}

select {
    padding: 0.5rem;
    font-size: 16px;
    border: 1px solid black;
    border-radius: 4px;
    display: inline-block;
}

.play-btn-container, .select-container {
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 2rem;
}

.start-game-btn {
    font-size: 1.5rem;
    width: 200px;
    font-weight: bold;
    border: 2px solid black;
    background-color: #F1C40F;
}

.minefield-container {
    aspect-ratio: 1/1;
    display: flex;
    flex-wrap: wrap;
    width: 480px;
    height: 480px;
    margin: auto;
    border: 1px solid black;
}

.cell {
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}

.bg-cell-clicked {
    background-color: #30b82e;
}

.bg-cell-bomb {
    background-color: #E50914;
    background-image: url('img/bomb.png');
    background-size: contain;
}

