/* Css Reset  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    padding: 1rem;
    background-color: #EFD869;
}

.title-game {
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    padding: 2rem;
    text-transform: uppercase;
}

select {
    font-family: 'Darker Grotesque', sans-serif;
    padding: 0.5rem;
    font-size: 16px;
    border: 1px solid black;
    border-radius: 4px;
    display: inline-block;
}

.play-btn-container, .select-container, .score-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.start-game-btn {
    cursor: pointer;
    font-family: 'Darker Grotesque', sans-serif;
    font-size: 1.5rem;
    width: 200px;
    font-weight: bold;
    border: 2px solid black;
    background-color: #F1C40F;
}

.minefield-container {
    position: relative;
    aspect-ratio: 1/1;
    display: flex;
    flex-wrap: wrap;
    width: 480px;
    height: 480px;
    margin: auto;
    border: 2px solid black;
}

.cell {
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    cursor: pointer;
}

.cell:hover {
    background-color: #876B08;
}

.coloured-cell {
    background-color: #F7FFF7;
}

.bg-cell-bomb {
    background-color: #F1C40F;
    cursor: not-allowed;
}

.bg-cell-empty {
    background-color: #292F36;
    cursor: not-allowed;
}

i {
    font-size: 2rem;
    color: black;
}

.counter-score {
    width: 200px;
    font-family: 'Darker Grotesque', sans-serif;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    background-color:#F1C40F;
    border: 2px solid black;
}

#difficultySelect {
    font-size: 1rem;
    border: 2px solid black;
    text-align: center;
    text-transform: uppercase;
    background-color: #F1C40F;
    color: black;
}

select option {
    background-color: #F1C40F;
    border:2px solid black;
}


    





